@import '~normalize.css/normalize';

$serif: "'Times New Roman', Times, serif";
$sansSerif: 'Helvetica, Arial, sans- serif';
$monospace: "Inconsolata, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace";

$bg: #242a31;
$fg: #afafb1;
$headline: #f5f5f7;
$defaultLink: #455a72;
$activeLink: #698eb9;

:root {
  background-color: $bg;
  color: $fg;
  font-family: $sansSerif;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
